*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{

}
html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.auto{
    width: 1200px;
    margin: 0 auto;
}
.auto-2{
    margin: 0 auto;
}
.main{
    padding: 0 0 97px;
    background-color: #f4f4f4;
}

/* header-top */
.header .header-top{
    background-color: #fff;
    display: flex;
    height: 40px;
    

}
/* header-top__nav-trai */
.header .header-top .nav-trai{
    display: flex;
    margin-left: 50px;
    align-items: center;
    margin-bottom: 14px;
}

.header .header-top .nav-trai > li{
    list-style: none;
}
.header .header-top .nav-phai .li-phai4 .icon-phai8{
    margin-top: 2px;
}
.header .header-top .nav-trai > li > a{
    display: flex;
    text-decoration: none;
    color: #333;
    margin: 15px 0 0 15px;
}
.header .header-top .nav-trai > li > a .text__nav-trai{
    color: #f60;
    font-size: 26px;
    margin-top: 12px;
    font-weight: 700;
}

.header .header-top .nav-trai > li > a .text__nav-trai2{
    color: #f60;
    font-size: 22px;
    margin-top: 17px;
}
.header .header-top .nav-trai > .li-trai2 > a{
    margin: 25px 0 0 12px;
    color: #333;
    display: flex;
    align-items: center;
    font-size: 14px;
}

.header .header-top .nav-trai > .li-trai2 > a > .text-1{
    margin: 0 5px;
}
.header .header-top .nav-trai > .li-trai2 > a:hover{
    color: #f60;
}

/* li-trai2__sub: begin */
.li-trai2 .li-trai2__sub{
    width: 403px;
    position: absolute;
    top: 38px;
    left: 246px;
    z-index: 1;
    background: #fff;
    border-left: 0.5px solid #c5c1c1;
    border-right: 0.5px solid #c5c1c1;
    border-bottom: 0.5px solid #c5c1c1;
    font-size: 15px;
    display: none;
}
.li-trai2:hover .li-trai2__sub{
    display: block;
}
.li-trai2 .li-trai2__sub .li-trai2__sub__ul{
    padding: 12px 0;
}
.li-trai2 .li-trai2__sub__ul > li{
    list-style-type: none;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.li-trai2 .li-trai2__sub__ul > li:hover{
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}
.li-trai2 .li-trai2__sub__ul .li__text-cha{
    height: 100%;
}

.li-trai2 .li-trai2__sub__ul .li__text-cha a{
    text-decoration: none;
    color: #666;
}
.li-trai2 .li-trai2__sub__ul .li__text-cha a:hover{
    color: #f60;
}
.li-trai2 .li-trai2__sub__ul .li__icon{
    margin: 0 0 11px 0;
    transition: color 0.1s linear;
}
.li-trai2 .li-trai2__sub__ul li:hover .li__icon{
    color: #f60;
}

/* li-trai2__sub__sub2: begin */
.li-trai2__sub .li-trai2__sub__sub2-1{
    position: absolute;
    top: 1px;
    right: -598px;
    background: #fff;
    z-index: 1;
    width: 600px;
    height: 537px;
    border-radius: 4px;
    box-shadow: 0 0 4px rgb(0 0 0 / 50%);
    padding: 37px;
    display: none;
}
.li-trai2__sub ul > li:hover > .li-trai2__sub__sub2-1{
    display: block;
}

.li-trai2__sub__sub2-1 .item{
    width: 250px;
}
.li-trai2__sub__sub2-1 .item .item__ul{
    padding: 0;
}
.li-trai2__sub__sub2-1 .item__ul .item__ul__text-heading a{
    font-weight: 600;
    color: #19abea;
    text-decoration: none;

}
.li-trai2__sub__sub2-1 .item__ul .item__ul__text-heading a:hover{
    color: #f60;
}
.li-trai2__sub__sub2-1 .item__ul li{
    list-style-type: none;

}
.li-trai2__sub__sub2-1 .item__ul li a{
    text-decoration: none;
    color: #666;
    font-size: 12px;
}
.li-trai2__sub__sub2-1 .item__ul li a:hover{
    color: #f60;
}
.li-trai2__sub__sub2-1 .item__ul li .a_khac{
    opacity: 0.7;
}
/* li-trai2__sub__sub2: end */

/* li-trai2__sub: end */


/* header-top__nav-trai: end */
/* header-top__nav-phai: begin */

.header .header-top .nav-phai{
    display: flex;
    margin: 15px 0 0 583px;
    width: 500px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 14px;
}
.header .header-top .nav-phai > li{
    list-style: none;
    margin-left: -26px;
    height: 30px;
    padding: 5px;
}
.li-phai2 .li-phai2__sub{
    display: none;
    position: absolute;
    top: 24px;
    left: -206px;
    width: 256px;
    height: 192px;
    background: #fff;
    z-index: 100;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(87, 85, 84, 0.4);
}

.li-phai2 .li-phai2__sub p{
    margin: 0;
    text-align: center;
}
.li-phai2 .li-phai2__sub .li-phai2__sub__text-1{
    padding: 16px 0;
    font-size: 17px;
    color: #333;
}
.li-phai2 .li-phai2__sub .li-phai2__sub__text-2{
    padding: 0 11px;
    color: #666;
    line-height: 18px;
}

.li-phai2 .li-phai2__sub .li-phai2__sub__button{
    width: 230px;
    height: 31px;
    background: #f60;
    border: none;
    border-radius: 13px;
    margin: 9px 13px;
}
.li-phai2 .li-phai2__sub__button a{
    color: #fff;
    text-decoration: none;
}
.li-phai2 .li-phai2__sub .li-phai2__sub__text-3{
    font-size: 12px;
    color: #666;
    width: 230px;
    margin: 0 13px;
    text-align: left;
    line-height: 13px;
}
.li-phai2 .li-phai2__sub__text-3 a{
    text-decoration: none;
    
}
.nav-phai .li-phai2{
    position: relative;
}
.nav-phai .li-phai2:hover .li-phai2__sub{
    display: block;

}

.nav-phai > .li-phai1 i,
.nav-phai > .li-phai2 i,
.nav-phai > .li-phai3 i{
    margin-top: 3px;
}

.nav-phai > .li-phai5 i,
.nav-phai > .li-phai6 i,
.nav-phai > .li-phai7 i,
.nav-phai > .li-phai8 i{
    margin-top: 3px;
}
.header .header-top .nav-phai > li > a > p{


}


.header .header-top .nav-phai > li > a{
    text-decoration: none;
    display: flex;
    color: #666;
    height: 18px;
}

.header .header-top .nav-phai > li > a > i,
.header .header-top .nav-phai > li > a > p{
    font-size: 14px;
}


.header .header-top .nav-phai > .li-phai4 > a > .icon-phai7{
    margin: 4px 0 0 0;

} 

.header .header-top .nav-phai > .li-phai5 > a{
    border-left: 1px solid #dddee3;
    border-right: 1px solid #dddee3;
    padding: 0 10px;
}

.header .header-top .nav-phai > .li-phai7 > a{
    border-right: 1px solid #dddee3;
    padding: 0 10px 0 0;
}

.header .header-top .nav-phai > .li-phai1 > a,
.header .header-top .nav-phai > .li-phai2 > a,
.header .header-top .nav-phai > .li-phai3 > a,
.header .header-top .nav-phai > .li-phai4 > a{
    color: #222;
} 

.header .header-top .nav-phai > li > a > .icon-chung{

    margin-left: 6px;
} 


.header .header-top .nav-phai > li > a > i{
    color: #000;
}

.header .header-top .nav-phai > li > a:hover{
    color: #f60;
}
.header .header-top .nav-phai > li > a:hover > i{
    color: #f60;
}
/* sub1: begin */

.nav-phai > .li-phai1 > .sub1{
    height: 519px;
    z-index: 100;
    position: absolute;
    top: 35px;
    right: 479px;
    background: #fff;
    color: #333;
    padding: 16px;
    width: 307px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgb(176 170 170 / 50%);
    display: none;
}
.nav-phai .li-phai1:hover .sub1{
    display: block;
}
.li-phai1 > .sub1 .text-sub1-heading{
    font-size: 15px;
    margin: 0 0 14px;
}
.li-phai1 > .sub1 > .button-control1{
    width: 275px;
    border: none;
    height: 32px;
    
}
.li-phai1 .sub1 .button-control1--modifier{
    background-color: #f60;
    border-radius: 24px;

}
.li-phai1 .sub1 .button-control1--modifier:hover{
    opacity: 0.9;
}
.li-phai1 > .sub1 > .button-control1 a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}
.li-phai1 > .sub1 > .button-control2{
    width: 275px;
    border: none;
    height: 32px;
    margin-top: 10px;
}
.li-phai1 > .sub1 > .button-control2 a{
    text-decoration: none;
    color: #f60;
    font-weight: 600;
}
.li-phai1 .sub1 .button-control2--modifier{
    background-color: #fff;
    border: 1px solid #f60;
    border-radius: 24px;
}

.li-phai1 .sub1 .sub1__gach{
    display: flex;
    justify-content: center;
}
.li-phai1 .sub1 .sub1__gach hr{
    width: 42px;
    
}
.li-phai1 .sub1 .sub1__gach .sub1__gach__text{
    width: 30px;
    text-align: center;
    font-size: 10px;
    line-height: 28.8px;
    margin: 0;
}

.li-phai1 > .sub1 .icon-flex{
    width: 151px;
    margin: 18px auto;
}

.li-phai1 > .sub1 .icon-flex a{
    text-decoration: none;
    color: #fff;
    padding: 6px 8px;
    border-radius: 100%;
}
.li-phai1 > .sub1 .icon-flex a i{
    width: 100%;
    height: 100%;
    text-align: center;
}
.li-phai1 > .sub1 .icon-flex .a__nen1{
    background-color: #052db1;
}
.li-phai1 > .sub1 .icon-flex .a__nen2{
    background-color: #666;
    margin: 0 6px 0 3px;
}
.li-phai1 > .sub1 .icon-flex .a__nen3{
    background-color: #195ede;
    margin: 0 6px 0 3px;
}
.li-phai1 > .sub1 .icon-flex .a__nen4{
    background-color: #0580b1;
}

.li-phai1 > .sub1 .text-sub1{
    font-size: 10px;
    color: #666;
}

.li-phai1 > .sub1 .text-sub1 a{
    text-decoration: none;
    color: #0ab5c8;
}

.sub1 > .text-sub-cuoi1{
    padding: 8px 0;
    border-top: 1px solid #a09d9d;
    border-bottom: 1px solid #a09d9d;
}
.sub1 > .text-sub-cuoi1 .cuoi1_text:first-child{
    font-weight: 700;
}
.sub1 > .text-sub-cuoi1 .cuoi1_text a{
    text-decoration: none;
    color: #333;
}
.sub1 > .text-sub-cuoi1 .cuoi1_text a:hover{
    color: #f60;
}

.sub1 > .text-sub-cuoi2{
    padding: 10px 0 0;
}
.sub1 > .text-sub-cuoi2 .cuoi2-text a{
    text-decoration: none;
    color: #333;

}
.sub1 > .text-sub-cuoi2 .cuoi2-text a:hover{
    color: #f60;
}
/* sub1: end */

/* li-phai3__sub: begin */
.li-phai3:hover .li-phai3__sub{
    display: block;
}
.li-phai3 .li-phai3__sub{
    width: 271px;
    background: #fff;
    position: absolute;
    top: 33px;
    right: 414px;
    z-index: 100;
    border-radius: 8px;
    padding: 12px;
    box-shadow: 0 0 8px rgb(91 88 88 / 50%);
    display: none;
}


.li-phai3__sub .sub-dau .sub-dau__flex{
    display: flex;
}
.li-phai3__sub .sub-dau__flex .sub-dau__flex__icon{
    font-size: 18px;
    color: #ebdd16;
}
.li-phai3__sub .sub-dau__flex .sub-dau__flex__text1{
    margin-left: 6px;
}
.li-phai3__sub .sub-dau__flex .sub-dau__flex__text2{
    margin-left: 24px;
}
.li-phai3__sub .sub-dau__flex .sub-dau__flex__text2 a{
    text-decoration: none;
    color: #666;
}

.li-phai3__sub .sub-dau__ul{
    margin: -8px 0 0 0;
}
.li-phai3__sub .sub-dau__ul .sub-dau__ul__con{
    font-size: 13px;
    color: #666;
}
.li-phai3__sub .sub-dau__ul__con .sub-dau__ul__con__text{
    margin: 0;
}
.li-phai3__sub .sub-dau__ul .sub-dau__ul__con li{
    list-style-type: disc;
    margin: 0 0 0 9px;
}
.li-phai3__sub .sub-dau__ul .sub-dau__ul__con li a{
    color: #666;
    text-decoration: none;

}

.li-phai3__sub .li-phai3__sub__button-control{
    width: 247px;
    height: 32px;
    border: none;
    background: #f60;
    border-radius: 3px;
}
.li-phai3__sub .li-phai3__sub__button-control:hover{    
    opacity: 0.6;
}
.li-phai3__sub .li-phai3__sub__button-control a{
    text-decoration: none;
    color: #fff;
    
}
.li-phai3__sub .sub-dau{
    cursor: pointer;

}
.li-phai3__sub .sub-dau:hover .sub-dau__flex__text2 a{
    color: #f60;
}
/* li-phai3__sub: end*/

/* li-phai4__sub: begin */
.li-phai4 .li-phai4__sub{
    position: absolute;
    top: 34px;
    right: 350px;
    width: 289px;
    height: 50px;
    background: #fff;
    z-index: 100;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    display: none;
}
.li-phai4 .li-phai4__sub .li-phai4__flex{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    font-size: 15px;
}

.li-phai4__sub .li-phai4__sub__text1{
    margin: 0;
}
.li-phai4__sub .li-phai4__sub__text2{
    margin: 0;
}
.li-phai4__sub .li-phai4__sub__text2 a{
    text-decoration: none;
    color: #138ad0;
}
.li-phai4:hover .li-phai4__sub{
    display: block;
}
/* li-phai4__sub: end */

/* li-phai5__sub: begin */
.li-phai5 .li-phai5__sub{
    position: absolute;
    top: 34px;
    right: 121px;
    z-index: 100;
    background: #fff;
    width: 234px;
    padding: 12px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    display: none;
}
.li-phai5:hover .li-phai5__sub{
    display: block;
}
.li-phai5__sub .li-phai5__sub__ul{
    font-size: 15px;
    padding: 0 0 0 7px;
    line-height: 25px;
}
.li-phai5__sub .li-phai5__sub__ul li{
    list-style-type: none;
    
}
.li-phai5__sub .li-phai5__sub__ul li a{
    text-decoration: none;
    color: #333;
}
.li-phai5__sub .li-phai5__sub__ul li a:hover{
    color: #f60;
    
}
/* li-phai5__sub: end */

/* li-phai6__sub: begin */
.li-phai6 .li-phai6__sub{
    position: absolute;
    top: 35px;
    right: 186px;
    background: #fff;
    z-index: 100;
    width: 335px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgb(0 0 0 / 40%);
    padding: 14px;
    font-size: 15px;
    color: #666;
    display: none;

}

.li-phai6:hover{
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}
.li-phai6:hover .li-phai6__sub{
    display: block;
}
.li-phai6__sub .li-phai6__sub__text-heading{
    font-weight: 600;
    color: #333;
}
.li-phai6__sub .tieng{
    
}
.li-phai6__sub .tieng2{
    margin: 17px 0 0 0;
}
.li-phai6__sub .tieng .tieng__text-heading{
    margin: 0 0 2px 0;
}
.li-phai6__sub .tieng .tim-tieng{
    display: flex;
    align-items: center;
    height: 32px;
    border: 1px solid #666;
    justify-content: space-between;
    padding: 0 8px;
}
.li-phai6__sub .tim-tieng .tim-tieng__text{
    margin: 0;
    color: #333;
}
.li-phai6__sub .tim-tieng .tim-tieng__icon{
    font-size: 20px;
}

.li-phai6__sub .li-phai6__sub__button-control{
    float: right;
    width: 97px;
    height: 36px;
    margin: 21px 0 31px;
    background: #f60;
    border: none;
    border-radius: 3px;
}

.li-phai6__sub .li-phai6__sub__button-control a{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 36px;
}
/* li-phai6__sub: end */

/* li-phai7__sub: begin */
.li-phai7 .li-phai7__sub{
    position: absolute;
    top: 32px;
    right: 102px;
    z-index: 1;
    background: #fff;
    width: 334px;
    padding: 12px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgb(0 0 0 / 50%);
    font-size: 15px;
    color: #666;
    display: none;

}
.li-phai7__sub .li-phai7__sub__text-heading{
    font-weight: 600;
    color: #333;
    margin: 0;
}
.li-phai7__sub .li-phai7__sub__text{
    margin: 8px 0 30px 0;
}
.li-phai7__sub .li-phai7__sub__button-control{
    width: 100%;
    height: 32px;
    margin: -2px 0 1px;
    background: #f60;
    border: none;
    border-radius: 3px;
}
.li-phai7__sub .li-phai7__sub__button-control a{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 32px; 
}
.li-phai7__sub .li-phai7__sub__gach{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 14px 0;
}
.li-phai7__sub .li-phai7__sub__gach hr{
    width: 138px;

}
.li-phai7__sub .li-phai7__sub__gach .li-phai7__sub__gach__text{
    margin: 0 8px;
    font-size: 13px;
}

.li-phai7__sub .ship{
    display: flex;
    align-items: center;
    height: 30px;
    border: 1px solid #666;
    justify-content: space-between;
    padding: 0 8px;
}

.li-phai7__sub .ship .ship__con__text{
    margin: 0;
    color: #333;
}
.li-phai7__sub .ship .ship__con__icon{
    font-size: 20px;
    margin: 0;
}

.li-phai7__sub .li-phai7__sub__input-control{
    width: 100%;
    height: 30px;
    padding: 4px;
    outline: 0.5px;
    margin: 15px 0;
}

.li-phai7__sub .li-phai7__sub__button-control__1{
    width: 90px;
    height: 32px;
    margin: 1px 0 4px;
    background: #f60;
    border: none;
    border-radius: 3px;
}
.li-phai7__sub .li-phai7__sub__button-control__1 a{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 32px;
}
.li-phai7:hover{
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}
.li-phai7:hover .li-phai7__sub{
    display: block;
}
/* li-phai7__sub: end */

/* li-phai8__sub: begin */
.li-phai8 .li-phai8__sub{
    position: absolute;
    width: 227px;
    top: 33px;
    right: 52px;
    z-index: 1;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 8px rgb(0 0 0 / 50%);
    padding: 12px;
    font-size: 15px;
    line-height: 28px;
    display: none;
}
.li-phai8__sub .li-phai8__sub__ul{
    text-align: left;
    padding: 0 0 0 8px;
}
.li-phai8__sub .li-phai8__sub__ul .li-phai8__sub__ul__text1{
    margin: 0;
    color: #333;
    font-weight: 600;
}
.li-phai8__sub .li-phai8__sub__ul li{
    list-style-type: none;
}

.li-phai8__sub .li-phai8__sub__ul li a{
    text-decoration: none;
    color: #666;
}
.li-phai8__sub .li-phai8__sub__ul li a:hover{
    color: #f60;
}
.li-phai8__sub .li-phai8__sub__ul .li-phai8__sub__ul__text2{
    margin: 20px 0 0;
    color: #333;
    font-weight: 600;
    
}
.li-phai8:hover{
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}
.li-phai8:hover .li-phai8__sub{
    display: block;
}
/* li-phai8__sub: end */

/* header-top__nav-phai: end */

/* header-img: begin */
.header .header-top-2{
    display: flex;
    align-items: center;
    background-color: #fff;
    display: none;

}
.header .header-top-2 .nav-trai{
    display: flex;
    margin-left: 50px;
    align-items: center;
    margin-bottom: 14px;
}

.header .header-top-2 .nav-trai > li{
    list-style: none;
}

.header .header-top-2 .nav-trai > li > a{
    display: flex;
    text-decoration: none;
    color: #333;
    margin: 15px 0 0 15px;
}
.header .header-top-2 .nav-trai > li > a .text__nav-trai{
    color: #f60;
    font-size: 23px;
    margin-top: 6px;
    font-weight: 700;
}

.header .header-top-2 .nav-trai > li > a .text__nav-trai2{
    color: #f60;
    font-size: 22px;
    margin-top: 6.3px;
}

.header-top-2 .search-header-top-2{
    width: 727px;
    height: 38px;
    margin-left: 130px;
    border: 1px solid #dddddd;
}
.header-top-2 .button-header-top-2{
    background: #f60;
    width: 116px;
    height: 40px;
    display: flex;
    border: none;
}
.header-top-2 .button-header-top-2 a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}
.button-header-top-2 a .icon-search{
    margin-left: 23px;
    font-size: 13px;
}
.button-header-top-2 a .text-search{
    margin: -2px 0 0 7px;
}
.header .header-img{
    position: relative;
}
.header .header-img img{
    width: 100%;
    height: 190px;
    opacity: 0.7;
}

.header-href{
    display: flex;
    position: absolute;
    bottom: 133px;
    left: 614px;
}
.header-href > a:last-child{
    margin-left: 40px;
}

.header-href > a{
    text-decoration: none;
    color: #fff;
}
.header-href > a > .text-href1{
    
}
.header-href > a > .text-href2{
    
}

.header-img .search-cha{
    position: absolute;
    bottom: 94px;
    left: 315px;
}

.header-img .search-cha .input-control{
    width: 772px;
    height: 40px;
    border-radius: 19px;
    outline: none;
    border: none;
    text-align: center;
    
}
.header-img .search-cha .icon-con{
    font-size: 17px;
}
.header-img .search-cha > a{
    text-decoration: none;
    color: #222;
    position: absolute;
    right: 139px;
    top: 13px;
}

.header-img .search-cha > .button-control{
    border-radius: 19px;
    width: 125px;
    height: 40px;
    position: absolute;
    right: 0;
    border: none;
    background: #ff6a00;


}

.header-img .search-cha > .button-control > a{
    display: flex;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    margin: 9px 0 0 27px;

}
.header-img .search-cha > .button-control > a > .icon-search{
    margin-top: 5px;
}
.header-img .search-cha > .button-control > a > p.text-search{
    margin-left: 4px;
}
/* header-img-con: begin */
.header-img .header-img-con {
    width: 1200px;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left: 139px;
    bottom: -30px;
    background-color: #fff;
    border-radius: 18px;
}
.header-img .header-href > a{
    font-size: 20px;

}

.header-img .header-img-con p:first-child{
    font-weight: 600;
    font-size: 16px;
}
.header-img .header-img-con p:last-child{
    font-size: 12px;
    color: #767676;
}

.header-img-con .header-con i{
    font-size: 36px;
    font-weight: 600;
    /* margin: 38px 0 10px 124px; */
    height: 64%;
    width: 50px;
}
.header-img .header-img-con div:last-child{
    line-height: 13px;
}
.header-img-con .header-con1{
    display: flex;
    width: 400px;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.header-img-con .header-con2{
    display: flex;
    width: 400px;
    justify-content: center;
    align-items: center;
    height: 100%;
    
}


.header-img-con .header-con3{
    display: flex;
    width: 400px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* header-img-con: end */
/* header-img: end */

/* slider: begin */
.slider{
    margin-top: 70px;
    
}

.slider .grid.wide.gioi{
    background-color: #fff;
    position: relative;
    border-radius: 8px;
    height: 440px;
}
.slider .grid.wide.gioi{
    background-color: #fff;
    position: relative;
}
.slider .grid.wide.gioi .l-4{
    flex: 0 0 20.00000%;
}
.slider .wide .item1{
    width: 285px;
    height: 407px;
    margin: 0 0 0 10px;
    
}
.wide .item1 .item1-text-heading{
    font-size: 14px;
    font-weight: 700;
    color: #333;
    margin: 15px 0 0 15px;
    width: 255px;
    height: 30px;
    border-bottom: 1px solid #f4f4f4;
}
.wide .item1 .sub-item1{
    margin-top: 3px;
    position: relative;
}
.wide .item1 .sub-item1 > .li-item1-1{
    
}
.wide .item1 .sub-item1 > .li-item1-1 > a{
    
}
.wide .item1 .sub-item1 > .li-item1-1 > a img{
    
}
.wide .item1 .sub-item1 > .li-item1-1 > a i{
    
}

.wide .item1 > .sub-item1 > li:hover{
    box-shadow: 0 0 2px rgba(140, 140, 140, 0.7);
}
.wide .item1 .sub-item1 > li > a:hover{
    color: #f60;
}
.wide .item1 .sub-item1 > li > a:hover i{
    color: #333;
}
.wide .item1 .sub-item1 > li{
    list-style: none;
    height: 45px;
    margin: 0 0 2px 0;
    padding: 5px;
}
.wide .item1 .sub-item1 > li > a{
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    color: #333;
    line-height: 32px;
    font-weight: 400;
}
.wide .item1 .sub-item1 > li > a img{
    width: 32px;
    height: 32px;

}
.wide .item1 .sub-item1 > li > a > i{
    margin: 11px 0 0 0;
    height: 15px;
}


.wide .item1 .sub-item1 .li-item1-2 a img{
    margin: 0 -25px 0;
}
.wide .item1 .sub-item1 .li-item1-2 a i{
    
}

.wide .item1 .sub-item1 .li-item1-3 a img{
    margin: 0 9px 0;
}
.wide .item1 .sub-item1 .li-item1-3 a i{
    
}

.wide .item1 .sub-item1 .li-item1-4 a img{
    margin: 0 0 0;
}
.wide .item1 .sub-item1 .li-item1-4 a i{
    
}

.wide .item1 .sub-item1 .li-item1-5 a img{
    margin: 0 -4px 0;
}
.wide .item1 .sub-item1 .li-item1-5 a i{
    
}

.wide .item1 .sub-item1 .li-item1-6 a img{
    margin: 0 -11px 0;
}
.wide .item1 .sub-item1 .li-item1-6 a i{
    
}

.wide .item1 .sub-item1 .li-item1-7 a img{
    margin: 0 -26px 0;
}
.wide .item1 .sub-item1 .li-item1-7 a i{
    
}

.wide .item1 .sub-item1 .li-item1-8 a img{
    margin: 0 -16px 0;
}
.wide .item1 .sub-item1 .li-item1-8 a i{
    
}

.wide .item1 .sub-item1 .li-item1-1 > a .text-item1{
    width: 172px;
    margin: 0;
}
/* li-item1__sub: begin*/
.li-item1 .li-item1__sub{
    height: 450px;
    position: relative;
    top: -64px;
    left: 276px;
    background: #fff;
    z-index: 1;
    width: 650px;
    box-shadow: 0 0 8px rgb(174 172 172 / 50%);
    padding: 20px;
    display: none;
    border-radius: 8px;
}
.li-item1 .li-item1__sub2{
    position: relative;
    top: -123px;
    left: 276px;
}

.li-item1 .li-item1__sub3{
    position: relative;
    top: -164px;
    left: 276px;
}
.li-item1 .li-item1__sub4{
    position: relative;
    top: -211px;
    left: 276px;
}
.li-item1 .li-item1__sub5{
    position: relative;
    top: -294px;
}
.li-item1 .li-item1__sub6{
    position: relative;
    top: -351px;
}
.li-item1 .li-item1__sub7{
    position: relative;
    top: -379px;
}
.li-item1 .li-item1__sub8{
    position: relative;
    top: -408px;
    line-height: 22px;
}
.li-item1 .li-item1__sub8 .li-item1__sub8__ul{
    list-style: none;
    color: #666;
}
.li-item1 .li-item1__sub8 li{
    
}
.li-item1 .li-item1__sub8 li a{
    text-decoration: none;
    color: #666;
    font-size: 12px;
}
.li-item1 .li-item1__sub8 li a:hover{
    color: #000;
}
.li-item1:hover .li-item1__sub{
    display: block;
}
.li-item1__sub .item{
    
}
.li-item1__sub .item .item__ul{
    padding: 0;
    text-align: left;
}
.li-item1__sub .item__ul .item__ul__text-heading{
    font-weight: 700;
    color: #666;
    margin: 0 0 8px 0;
}
.li-item1__sub .item__ul li{
    list-style-type: none;
}
.li-item1__sub .item__ul li a{
    text-decoration: none;
    font-size: 12px;
    color: #666;
}
.li-item1__sub .item__ul li a:hover{
    color: #000;
}
/* li-item1__sub: end*/
.gioi .slideshow{
    width: 600px;
    height: 386px;
    margin: 23px auto 0;
    overflow: hidden;
}

.gioi .slideshow .slideshow__slide-next{
    display: flex;
    width: 2912px;
    -webkit-animation: slideshow 14s ease infinite;
}
.gioi .slideshow .slideshow__slide-next .slideshow__slide-next__slide{
    width: 600px;
    height: 386px;

}
.slideshow .slideshow__slide-next__slide img{
    width: 600px;
    height: 386px;

}
@-webkit-keyframes slideshow{
    20%{
        margin-left: 0;
    }
    30%{
        margin-left: -600px;
    }
    50%{
        margin-left: -600px;
    }
    60%{
        margin-left: -1200px;
    }
    80%{
        margin-left: -1200px;
    }
}
.gioi .item3{
    width: 240px;
    height: 416px;
    margin-left: 238px;
}


.gioi .item3 .heading{
    margin: 15px 0;
    display: flex;
}
.gioi .item3 .heading .text-item3-heading{
    font-size: 18px;
    color: #333;
    font-weight: 700;

}
.gioi .item3 .heading .icon-huong{
    margin-left: 33px;
    font-weight: 700;
    font-size: 1px;
}

.gioi .item3 .block-money{
    width: 232px;
    height: 78px;
    display: flex;
    align-items: center;
    background: #f4f4f4;
    border-radius: 8px;
}

.gioi .item3 .block-money .text-block-money{
    font-size: 14px;
    margin-left: 8px;
}
.gioi .item3 .block-money img{
    width: 62px;
    margin-right: 8px;
    border-radius: 4px;
}

.gioi .item3 .block-money2{
    width: 232px;
    height: 78px;
    display: flex;
    align-items: center;
    background: #f4f4f4;
    border-radius: 8px;
    margin-top: 10px;
}
.gioi .item3 .block-money2 img{
    width: 62px;
    margin-right: 8px;
    border-radius: 4px;
}
.gioi .item3 .block-money2 .text-block-money{
    font-size: 14px;
    margin-left: 8px;
}
.gioi .item3 .block-money2 .text-block-money{
    
}
.gioi .item3 .block-money2 img{

}

.gioi .item3 .text-under{
    margin-top: 20px;
    font-size: 14px;
    font-weight: 700;
}

.gioi .item3 .button-item3-control1{
    border: none;
    width: 229px;
    height: 32px;
    background: #ff6600;
    border-radius: 16px;
    margin-top: 10px;
}
.gioi .item3 .button-item3-control1 a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
}
.gioi .item3 .button-item3-control1 a .text-button1{
    margin-top: 4px;
}

.gioi .item3 .button-item3-control2{
    border: none;
    width: 229px;
    height: 32px;
    border-radius: 16px;
    margin-top: 10px;
    border: 1px solid #000;
    background-color: #fff;
}
.gioi .item3 .button-item3-control2 a{
    text-decoration: none;
    color: #000;
    font-weight: 600;
    font-size: 14px;
}
.gioi .item3 .button-item3-control2 a .text-button2{
    margin-top: 4px;
}

/* slider: end */

/* content: begin */
/* new */
.content{

}
.content .new{

}
.new .fe .item,
.new .fe .item-fe3{
    width: 383px;
    height: 197px;
    background: #fff;
    border-radius: 8px;
    margin-top: 30px;
}
.new .fe .item-fe-text-heading{
    padding: 10px 0 10px 15px;
    font-size: 16px;
    font-weight: 650;
}

.new .fe .item-fe-img{
    margin-left: 15px;
}
.new .fe .item-fe-img img{
    width: 115px;
    height: 100px;
    margin-top: -13px;
    border-radius: 6px;
}

.new .fe .gia{
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-size: 12px;
}
.new .fe .gia1{
    width: 122px;
}
.new .fe .text-fe-center{
    font-weight: 600;
    color: #333;
}
.new .fe .text-fe-bottom1{
    display: flex;
    color: #333;
    font-weight: 600;
    margin: -8px 0 0 25px;
    width: 122px;
    
}
.new .fe .text-fe-bottom1 .gia-that{
    width: 38px;
    height: 16px;
    background: #ff6600;
    border-radius: 8px;
    color: #fff;
    margin-left: 4px;
    line-height: 16px;
}
.new .item-fe-img video{
    width: 118px;
    height: 100px;
    margin-bottom: 11px;
    
}
.new .fe .gia2{
    width: 122px;
    
}
.new .fe .text-fe-center2{
    
}
.new .fe .text-fe-bottom{
    color: #666;
    margin-top: -12px;
}


.new .fe .gia3{
    width: 122px;
    
}
.new .fe .text-fe-center3{
    
}
.new .fe .text-fe-bottom3{
    
}

/* grid-2: begin */
/* .content .container-fluid{
    background-color: #f4f4f4;
} */
.content .grid-2{
    position: absolute;
    left: 134px;
    max-width: 1200px;
    /* margin: 33px 0 0 138px; */
    background-color: #f4f4f4;
    overflow: hidden;
}
.grid-2 .live{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.grid-2 .grid-2-text-heading{
    color: #333;
    font-size: 24px;
    font-weight: 650;
    padding: 10px 0;
}

.grid-2 .grid-chinh{
    background: #fff;
    width: 386px;
    height: 205px;
    border-radius: 8px;
}
.grid-2 .grid-chinh img{
    width: 130px;
    margin: 18px 0 8px 25px;
}
.grid-2 .grid-chinh .button-grid-2{
    border: none;
    width: 128px;
    height: 38px;
    margin-left: 26px;
    background: #f60;
    border-radius: 18px;
    transition: background-color 0.2s 0.2s linear;
}
.grid-2 .grid-chinh .button-grid-2:hover{
    background-color: rgba(0, 0, 0, 0.8);
}
.grid-2 .grid-chinh .button-grid-2 a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 550;
}
.grid-2 .grid-chinh .gia-grid-2{
    margin-left: -9px;
    text-align: center;
    line-height: 11px;
}
.grid-2 .grid-chinh .gia-grid-2 .gia-dau{
    font-size: 16px;
    color: #333;
    font-weight: 600;
}
.grid-2 .grid-chinh .gia-grid-2 .gia-cuoi{
    color: #333;
    font-weight: 500;
}
/* grid-2: end */

/* grid-3: begin */
.content .just{
    margin-top: 289px;
}
.content .just .just-text-heading{
    color: #222;
    font-size: 22px;
    font-weight: 700;
    margin-left: 134px;
    padding: 0 0 15px 0;
}

.content .just .grid-3{

}
.content .just .grid-3{
    max-width: 1219px;
}
/* .content .just .grid-3 .col-lg{
    padding: 0 5px;
} */
.just .grid-3 .item{
    width: 226px;
    height: 352px;
    background-color: #fff;
    border-radius: 8px;
}
.grid-3 .item img{
    width: 226px;
    border-radius: 8px;
}

.grid-3 .item .text-just{
    margin-top: 12px;
    width: 100%;
    height: 102px;
    padding: 0 12px;
    color: #333;
    position: relative;
}

.grid-3 .item .march{
    width: 42px;
    height: 16px;
    font-size: 11px;
    font-weight: 600;
    background-color: #2e55f9;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    line-height: 16px;
    position: absolute;
    top: 55px;
    left: 114px;
}
.grid-3 .item .text-just .text-just__1{

}
.grid-3 .item .text-just .text-just__gia{
    font-size: 16px;
    font-weight: 650;
    margin: 8px 0 4px;
}
.grid-3 .item .text-just .text-just__gia-phu{
    
}


/* grid-3: end */

/* grid-4:begin */
.content .ngoai-thuong{

}
.ngoai-thuong .ngoai-thuong__text-heading{
    display: flex;
    width: 699px;
    align-items: center;
    justify-content: space-between;
    margin-left: 133px;
    padding: 20px 0 13px;
}
.ngoai-thuong .ngoai-thuong__text-heading .text-dam{
    font-size: 22px;
    font-weight: 700;
    color: #222;
    margin-top: 14px;
    
}
.ngoai-thuong .ngoai-thuong__text-heading .text-nhat{
    font-size: 16px;
    color: #666;
    margin: 5px 0 0 15px;
}

.ngoai-thuong .grid-4{
    margin: 0 132px 0 138px;
    position: relative;
    max-width: 1200px;
    height: 260px;
}
.ngoai-thuong .grid-4 .hang{
    height: 260px;
}
.ngoai-thuong .grid-4 .item{
    border-radius: 8px;
    background-color: #fff;
    width: 283px;
    height: 250px;
    position: absolute;
    transition: box-shadow 0.2s linear;
}
.grid-4 .item .item-img{

}
.grid-4 .item .item-img .img{
    width: 283px;
    height: 180px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
.grid-4 .item .item-img .ke-ngang{
    position: absolute;
    width: 20px;
    top: 54px;
    left: 24px;
    color: #fff;

}
.grid-4 .item .item-img .item-img__text-img{
    position: absolute;
    top: 73px;
    left: 25px;
    width: 210px;
    font-weight: 400;
    color: #fff;
}


.grid-4 .item .item-img .block-an{
    background-color: #333;
    width: 283px;
    height: 180px;
    border-radius: 8px;
    padding: 10px;
    position: absolute;
    top: 0;
    display: none;
}
.item-img .block-an .block-an__text-dau{
    color: #666;
    margin-left: 12px;
}
.item-img .block-an .text-center{
    color: #fff;
    list-style: circle;
}
.item-img .block-an .text-center li{
    text-align: left;
}
.item-img .block-an a{
    text-decoration: none;
    color: #fff;
}
.item-img .block-an a:hover{
    border-bottom: 1px solid #fff;
}
.grid-4 .item-img:hover .block-an{
    display: block;
}
.grid-4 .item:hover{
    cursor: pointer;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}
.item-img .block-an .learn{
    margin-left: 12px;
    font-weight: 650;
}
.item-img .block-an .learn1{
    position: absolute;
    top: 148px;
}
.item-img .block-an .learn .learn__icon{
    
}


.item-img .item-cuoi{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.item-img .item-cuoi .item-cuoi__text{
    margin-top: 11px;
    width: 172px;
    line-height: 11px;
}
.item-img .item-cuoi .item-cuoi__text-dau{
    font-size: 16px;
    color: #333;
    margin-top: 8px;
    font-weight: 700;

}
.item-img .item-cuoi .item-cuoi__text-cuoi{
    font-size: 12px;
    color: #666;
}
.item-img .item-cuoi .icon-item-cuoi{
    font-size: 23px;
}

.item-img .item-cuoi .icon-item-cuoi1{
    color: #f9d039;
}
.item-img .item-cuoi .icon-item-cuoi2{
    color: #f9d034;
}
.item-img .item-cuoi .icon-item-cuoi3{
    color: #e5715f;
}
.item-img .item-cuoi .icon-item-cuoi4{
    color: #4a75ad;
}
/* grid-4:end */
/* content: end */

/* nuoc_top: begin*/
.content .nuoc_top{
    position: relative;
    top: 23px;
    height: 53px;
    padding: 10px;
}

.nuoc_top a{
    display: flex;
    justify-content: space-between;
    color: #222;
    font-size: 22px;
    text-decoration: none;
    align-items: center;
}
.nuoc_top .nuoc_top--color{
    color: #222;

    
}

.nuoc_top a .nuoc_top__text-heading{
    font-weight: 700;
    margin: 0 0 0 0;
}
.nuoc_top a .nuoc_top__icon{
    
}



/* nuoc_top: end*/


/* nuoc: begin */
.content .nuoc{
    display: flex;
    width: 1131px;
    position: relative;
    top: 49px;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 0 152px;
}

.nuoc .nuoc__ele{

}
.nuoc .nuoc__ele a{
    display: flex;
    align-items: center;
    /* justify-content: ; */
    color: #666;
    text-decoration: none;
    

}

.nuoc .nuoc__ele a img{
    width: 24px;
    height: 24px;
}
.nuoc .nuoc__ele a .nuoc__ele__ten-nuoc{
    margin: 6px;
}
.nuoc .nuoc__ele .a__italy{
    height: 18px;
}
.nuoc .nuoc__more{
    margin: 6px;
}
.nuoc .nuoc__more a{
    text-decoration: none;
    color: #1688cc;

}

.nuoc a:hover{
    color: #f60;
}
/* nuoc: end */

/* footer: begin */
/* footer-top: begin */
.main .footer{
    position: relative;
    top: 93px;
    height: 486px;
    background-color: #445268;
}
.footer .footer-top{
    max-width: 1200px;
    padding-bottom: 13px;
    border-bottom: 1px solid #313d52;
}

.footer .footer-top .footer-ul{
    padding: 0;
    margin: 0;

}
.footer-top .footer-ul .footer-ul__text-heading{
    padding: 22px 0 5px;
    font-size: 18px;
    color: #fff;
    margin: 0;
}
.footer-top .footer-ul li{
    list-style-type: none;
    padding: 2px 0;
}
.footer-ul li a{
    font-size: 12px;
    text-decoration: none;
    color: #fff;
    
}
.footer-ul li a:hover{
    text-decoration: underline;
}

/* footer-top: end */

/* footer-dow: begin*/
.footer .footer-dow{
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 20px auto;
    justify-content: space-around;
}
.footer .footer-dow .footer-dow__con1{
    width: 380px;
    display: flex;
    align-items: center;
}
.footer-dow .footer-dow__con1 .footer-dow__con__text{
    color: #fff;
    margin: 0;
}



.footer-dow__con1 .footer-img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 30px;
    border-radius: 3px;
    margin: 0 0 0 7px;
}
.footer-dow__con1 .footer-img--ccc{
    background-color: #979797;
}
.footer-dow__con1 .footer-img:hover{
    opacity: 0.8;
    cursor: pointer;
}
.footer-dow__con1 .footer-img--xanh{
    background-color: #a4c639;
}
.footer-dow__con1 .footer-img i{
    font-size: 22px;
    color: #fff;
    width: 32px;
}
.footer-dow__con1 .footer-img .footer-img__text{
    line-height: 12px;
    color: #fff;
}
.footer-dow__con1 .footer-img__text .footer-img__text__1{
    font-size: 12px;
    margin: 0;
}
.footer-dow__con1 .footer-img__text .footer-img__text__2{
    font-size: 13px;
    font-weight: 600;
    margin: 0;
}


.footer .footer-dow__con2{
    display: flex;
    width: 300px;
    align-items: center;

}
.footer-dow__con2 .footer-dow__con2__text{
    color: #fff;
    margin: 0;

}
.footer-dow__con2 .footer-dow__con2__img{
    width: 30px;
    height: 30px;
    border-radius: 4px;
    margin: 3px 0 0 3px;
}
.footer-dow__con2 .footer-dow__con2__img:hover{
    opacity: 0.8;
    cursor: pointer;
}
.footer .footer-dow__con3{
    display: flex;
    align-items: center;
    margin-right: 80px;
}
.footer-dow__con3 .footer-dow__con3__text-follow{
    margin: 0;

}
.footer-dow__con3 .footer-dow__con3__text-follow--color{
    color: #fff;

}
.footer-dow__con3 .footer-dow__con3__icon{
    width: 19px;
    height: 19px;
    text-align: center;
    line-height: 19px;
    margin-left: 5px;
    border-radius: 3px;
}
.footer-dow__con3 .footer-dow__con3__icon:hover{
    opacity: 0.8;
    cursor: pointer;
}
.footer-dow__con3 .footer-dow__con3__icon{

}
.footer .footer-dow__con3 .footer-dow__con3__icon--nen{
    background-color: #fff;
    color: #445268;
}
/* footer-dow: end*/

/* lienket: begin */
.footer .lienket{
    color: #fff;
    font-size: 12px;
    text-align: center;
}

.lienket a{
    text-decoration: none;
    color: #fff;
    
}
.lienket a:hover{
    text-decoration: underline;
}
.lienket .lienket-1{

}
.lienket p{
    margin-bottom: 18px;
    
}
.lienket-1 .lienket-1__text .lienket-1__text__icon{
    font-size: 15px;
}
.lienket .lienket-5__text .img-1{
    width: 26px;
    height: 28px;

}
.lienket .lienket-5__text .img-2{
    width: 20px;
    height: 20px;
}
.lienket .lienket-5__text a:nth-child(1){
    border: none;
}
.lienket .lienket-5__text a:nth-child(3){
    border: none;
}
.lienket .lienket-5__text a:last-child{
    color: #939393;
    border: none;
}

/* lienket: end */
/* footer: end */



